/*----------------------- FONTS --------------------------*/

@font-face {
    font-family: "Good Morning";
    font-weight: 400; 
    src: 
        local("Good Morning"),
        url("../assets/fonts/Good Morning.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */

/* --------------------VARIABLES ---------------------------*/

:root{
    --vawelsBack: hsl(64, 64%, 96%);
    --blue: hsl(206, 91%, 41%);
    --lightBlue: hsl(204, 90%, 74%);
    --yellow: hsl(50, 100%, 68%);
    --yellowRGBA: rgba(255, 228, 92, .8);
    --pink: hsl(342, 100%, 69%);
}

/*-------------------- RESETS -----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* ---------------------CLASES ------------------------------*/

.displayCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------- TEMPLATE-------------------------- */

body{
    display: grid;
    grid-template-areas:
    "header div" 
    "header main"
    "header div2";
    grid-template-columns: 80px auto;
    grid-template-rows: auto auto auto;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

.principalImg{
    grid-area: div;
}

.buttonsDIV{
    grid-area: div2;
}

/* /////////////////////////////////////////////////////////// */

/* STYLES */
header{
    background-color: var(--lightBlue);
    height: 100vh;
}

h1{
    font-family:  "Good Morning";
    text-transform: uppercase;
    color: var(--blue);
    word-wrap: break-word;
    text-align: center;
    padding: 25vh 20px;
}

.principalImg{
    height: 28vh;
    padding: 20px;
    background-color: var(--pink);
}

.principalImg img{
    height: 100%;
}

main,
main section article div{
    display: flex;
    justify-content: center;
    align-items: center; 
}

main{
    width: 100%;
    height: auto;
    min-height: 65vh;
    margin: 0px auto;
    flex-direction: column;
    background-color: var(--yellowRGBA);
    position: relative;
}

main section{
    width: 100%;
}

main section article{
    height: 200px;
    margin: 2vw auto;
}

main section article div{
    width: 10vw;
    height: 10vw;
    min-width: 120px;
    min-height: 120px;
    background-color: var(--vawelsBack);
    margin: 0 auto;
    border: solid var(--blue);
    overflow: hidden;
}

.buttonsDIV{
    height: 7vh;
    width: 100%;
}

.buttonsDIV button{
    width: 50%;
    height: 100%;
    font-size: 2rem;
    box-shadow: 1px 1px 7px var(--blue) inset, -1px -1px 7px var(--blue) inset ;
    color: var(--blue);
    padding: 15px;
    border: none;
}

.buttonsDIV button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px var(--pink) inset, -1px -1px 5px var(--pink) inset ;
    color: var(--pink);
}


/* INSTRUCTIONS */
.instructions{
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: var(--lightBlue);
    border-radius: 15px;
}

.enterButton button{
    width: 100%;
}

p{
    font-family: 'Lobster', cursive;
    font-size: min(1vw + 1rem);
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    margin: 10px 0px;
}

.instructions p:first-child{
    font-size: min(1vw + 1.8rem);
    margin-bottom: 20px;
    color: var(--vawelsBack);
}

.height{
    height: 0px;
    position: absolute;
}


/* ----------------------------ANIMATIONS ----------------------------*/
@keyframes show {
    from{height: 0px;}
    to{height: 100px;
       width: auto;}
}

.animation1{
    top:50vh;
    left: 35vw;
    animation: show 3s infinite;
    animation-delay: .5s;
}

.animation2{
    top:30vh;
    left: 2vw;
    animation: show 4s infinite;
    animation-delay: 1.5s;
}

.animation3{
    top:40vh;
    left: 65vw;
    animation: show 2.5s infinite;
    animation-delay: 1s;
}

.animation4{
    top:5vh;
    left: 7vw;
    animation: show 3.5s infinite;
    animation-delay: 2.5s;
}

.animation5{
    top:10vh;
    left: 70vw;
    animation: show 2s infinite;
    animation-delay: 2s;
}

.animation6{
    top:30vh;
    left: 85vw;
    animation: show 3s infinite;
    animation-delay: .5s;
}

.animation7{
    top:10vh;
    left: 55vw;
    animation: show 4s infinite;
    animation-delay: 2.5s;
}

.animation8{
    top: 5vh;
    left: 30vw;
    animation: show 2.5s infinite;
    animation-delay: 2s;
}

.animation9{
    top:55vh;
    left: 80vw;
    animation: show 3.5s infinite;
    animation-delay: 1.5s;
}

.animation10{
    top:50vh;
    left: 10vw;
    animation: show 2s infinite;
    animation-delay: 1s;
}

/* ------------------------------MEDIAS ----------------------------*/
@media (max-width: 680px) {
    body{
        grid-template-areas: "header""div""main""div2";
        grid-template-columns: 100vw 100vw 100vw 100vw;
        grid-template-rows: auto auto auto auto;
    }

    header,
    main{
        height: auto;
        width: 100vw;
        min-width: 300px;
        
    }

    main{
        min-height: 100vh;
    }

    h1{
        padding: 10px;
        letter-spacing: 5px;
    }
    
    .principalImg img{
        height: 80%;
    }

  
    .buttonsDIV{
        height: auto;
        flex-wrap: wrap;
    }

    .buttonsDIV button{
        width: 100%;
        padding: 5px;
    }

    #vawelsSection{
        width: 100%;
        height: auto;
        margin: 10% auto;
        display: grid;
        grid-template-areas: "section1 section2";
        grid-template-columns: 100fr 100fr;
        grid-template-rows: auto;
        gap: 20px;
        
    }

    #vawelsSection article:first-child{
        grid-area: section1;
    }

    #vawelsSection article:last-child{
        grid-area: section2;
    }
    #vawelsSection article{
        flex-wrap: wrap;
        height: auto;
        max-width: 120px;
    }

    #vawelsSection article div{
        margin: 10px;
    }

    /* INSTRUCTIONS */
    .instructions{
        width: 90%;
    }

    /* ANIMATIONS */
    .enterVawels{
        display: none;
    }
}


@media (max-width: 800px){
    .enterVawels > div{
        display: none;
    }
}


/*-------------------------------- js css ---------------------------------*/

.displayIMGS div{
    background-color: white;
}

.displayIMGS img{
    width: 100%;
}


/* classes JS */

.displayNone{
    display: none;
}

.displayIMGS p::first-letter{
    color: var(--pink);
    font-size: 2rem;
    font-weight: bold;
}

.cursorPointer{
    cursor: pointer;
}